<%- include("partials/header") %>
<%- include("partials/chung") %>
<link rel="stylesheet" href="/css/content.css">
<style>
    .button-89 {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #373B44;
    cursor: pointer;
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
  
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-89:hover,
  .button-89:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
  }
  
  .button-89:active {
    background: var(--color);
    color: #fff;
  }
  </style>
   
   
   
        
        
    
        
    
    <div class="content">
            <% a.forEach(element=> { %>
                <% if (element){ %>
                    
                    <div class="sp1">
                        <div class="sp1-sanpham">
                            <a href="/sanpham/<%= element._id %>">
                                <img class="sanpham sanpham1" src="/uploads-img/<%= element.anh[0] %>" alt="">
                                <img class="sanpham sanpham2" src="/uploads-img/<%= element.anh[1] %>" alt="">
                            </a>
                            <% let time = element.tinhTime() / 86400000 
                                    
                            if (time <= 5 && time > 0 
                            && element.kiemtra  ){ %>
                                <span>5/5 sẽ sale <%= element.sale2 %>%</span>
                            <%} else{
                                if (time > -1 && time <= 0 
                            && element.kiemtra  ){%>
                                <span>5/5 đang sale  <%= element.sale2 %>%</span>
                            <% } else{ %>
                                <% if (element.sale !== 0){%>
                                    <span>Sale <%= element.sale %>%</span>
                                <%} %>
                            <% }
                            } %>
                             
                            
                        </div>
                        <div class="content-sp">
                            <h3>
                                <% if (element.tenSanPham===undefined){ %>
                                    Sản Phẩm mới
                                    <% } else { %>
                                        <%= element.tenSanPham %>
                                    <% } %>
                            </h3>
                            <div class="gia-sanpham">
                                <span>
                                    <%= element.chuyenTien(element.tinhtien()) %>
                                    
                                </span>
                                <span>
                                    <%= element.chuyenTien(element.giaban) %>
                                </span>
                            </div>

                                <a  href="/sanpham/<%= element._id %>"><button class="button-89">MUA</button></a>
                        </div>
                    </div>

                <% }
                })
             %>
    </div>
    <script src="js/content.js"></script>
<%- include("partials/footer") %>