<%- include("partials/header") %>
<%- include("partials/chung") %>
<link rel="stylesheet" href="/css/content.css">
<style>
   
  </style>
   
   
   
        
        
    
        
    
    <div class="content">
            <% a.forEach(element=> { %>
                <% if (element){ %>
                    
                    <div class="sp1">
                        <div class="sp1-sanpham">
                            <a href="/sanpham/<%= element._id %>">
                                <img class="sanpham sanpham1" src="/uploads-img/<%= element.anh[0] %>" alt="">
                                <img class="sanpham sanpham2" src="/uploads-img/<%= element.anh[1] %>" alt="">
                            </a>
                            <% let time = element.tinhTime() / 86400000 
                                    
                            if (time <= 5 && time > 0 
                            && element.kiemtra  ){ %>
                                <span>5/5 sẽ sale <%= element.sale2 %>%</span>
                            <%} else{
                                if (time > -1 && time <= 0 
                            && element.kiemtra  ){%>
                                <span>5/5 đang sale  <%= element.sale2 %>%</span>
                            <% } else{ %>
                                <% if (element.sale !== 0){%>
                                    <span>Sale <%= element.sale %>%</span>
                                <%} %>
                            <% }
                            } %>
                             
                            
                        </div>
                        <div class="content-sp">
                            <h3>
                                <% if (element.tenSanPham===undefined){ %>
                                    Sản Phẩm mới
                                    <% } else { %>
                                        <%= element.tenSanPham %>
                                    <% } %>
                            </h3>
                            <div class="gia-sanpham">
                                <span>
                                    <%= element.chuyenTien(element.tinhtien()) %>
                                    
                                </span>
                                <span>
                                    <%= element.chuyenTien(element.giaban) %>
                                </span>
                            </div>

                                <a  href="/sanpham/<%= element._id %>"><button class="button-89">MUA</button></a>
                        </div>
                    </div>

                <% }
                })
             %>
    </div>
    <script src="js/content.js"></script>
<%- include("partials/footer") %>